player-connection-mode=Listen
player-connection-guid=3987238020
player-connection-debug=1
player-connection-project-name=MySrpg
player-connection-ip=192.168.179.1
player-connection-ip=192.168.114.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
